page-login {
    .login-content {
        background-image: url('https://placeimg.com/640/480/tech/grayscale');
        background-repeat: no-repeat;
        @media screen and (orientation: portrait) {
            background-size: auto 100%;
        }
        @media screen and (orientation: landscape) {
            background-size: 100% auto;
        }
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .login-box {
            position: relative;
            z-index: 1;
            padding: 10px 10px 0px 10px;
            margin-top: 30px;
        }
        .login-box .bg {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: lightgray;
            opacity: .6;
            width: 100%;
            height: 100%;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 10px !important;
            padding-left: 10px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            border-radius: 5px !important;
            border: 1px solid lightgray;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
    }
    .img-circular {
        width: 150px;
        height: 150px;
        background-image: url('https://unsplash.it/150/150/?random');
        background-size: cover;
        display: block;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px darkgray;
    }
}